.forgotPasswordSection {
  /* background: url(../../Assets/background2.svg) no-repeat;

  background-size: cover; */
  background: url(../../Assets/backrgound-svg-svg1.svg) no-repeat;
  background-attachment: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50em;
}
