.authBox {
  margin: 0 auto;
  padding: 15vh 0 20vh;
  background: url(../../Assets/backgroundAuthSection.svg) no-repeat;
  background-position: bottom;
}

.heading {
  text-align: center;
  font-size: 2rem;
}

.form {
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f323f;
  color: #4adc91;
  width: 300px;
  font-weight: 600;
}

.form > * {
  margin: 5px;
}

.input {
  width: 200px;
  height: 40px;
}

.button {
  border-radius: 30px;
  background-color: #97ebc0;
  min-height: 40px;
  min-width: 200px;
  color: #000;
  margin: 15px;
  border: 2px solid #2c8758;
  font-weight: 500;
}

.button:hover {
  background-color: #fff;
  transition: 0.7s;
}
