.wrapper {
  position: sticky;
  top: 0;
  background-color: #c0f3d9;
  z-index: 200;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navBox {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.navItemPosition {
  margin-right: 500px;
}

.navLink {
  color: #2c8758;
  font-weight: 500;
  text-decoration: none;
  padding: 11px;
}

.navLink:hover {
  color: #2f323f;
  font-weight: bold;
}

.navLink:focus {
  text-decoration: underline;
  font-weight: bold;
  color: #2c8758;
  border: none;
  font-weight: bold;
  height: 40px;
  width: 200px;
  margin: 3em 0 3em 0;
}

.navbarLogo {
  height: 80px;
  max-height: 80px;
  position: relative;
  z-index: 1;
}

.button {
  display: inline-block;
  height: 40px;
  width: 200px;
  margin: 2em 0 2em 0;
  background-color: #97ebc0;
  color: #2f323f;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 2px #2f323f;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: #2f323f;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

.button:active {
  background-color: #2c8758;
}
